
/* .custom-image{
    transition: width 2s, height 4s, transform 2s;
}

.custom-image:hover{
    transform: scale(3);
} */

.custom-button{
    transition: width 3s, height 4s;
}

.custom-button:hover{
    width: 200px;
    height: 50px;
}